<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Scavia's Wardrobe</title>
    <meta name="description" content="website description"/>
    <meta name="keywords" content="website keywords, website keywords"/>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252"/>
    <link th:href="@{/templates/wardrobe/style/style.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<div id="main">
    <div id="header">
        <div id="logo">
            <div id="search">
                <form method="post" action="#" id="search_form">
                    <p>
                        <input class="search" type="text"
                               style="border-radius: 10px; border: 5px solid white;width: 250px; height:30px; "
                               name="search_field" placeholder="Enter keywords"/>
                        <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;border-bottom: 5;"
                               th:src="@{/templates/wardrobe/style/search.png}" alt="Search" title="Search"/>
                    </p>
                </form>
            </div>
            <div id="logo_text">
                <!-- class="logo_colour", allows you to change the colour of the text -->
                <h1><a href="/wardrobeandmenu/">Scavia's <span class="logo_colour">Wardrobe</span></a></h1>
                <h2>Simple. Scavia's. Wardrobe Manager.</h2>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                <li ><a href="/wardrobeandmenu/">Overview</a></li>
                <li class="selected"><a href="/wardrobeandmenu/clothes">Clothes</a></li>
                <li><a href="page.html">Gadgets</a></li>
                <li><a href="another_page.html">Propeties</a></li>
                <li><a href="contact.html">Reports</a></li>
            </ul>
        </div>
    </div>
    <div id="site_content">

        <div class="overview">
            <h1>Shirts</h1>
            <img th:src="@{/templates/wardrobe/style/shirt.jpg}" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:170px;">
            <div class="popup">
                <br/><hr/><br/>
                <a href="#">View More</a> | <a href="/wardrobeandmenu/add">Add New</a>
            </div>
        </div>

        <div class="overview">
            <h1>Shoes</h1>
            <img th:src="@{/templates/wardrobe/style/shoe.jpeg}" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%; height:170px;">
            <div class="popup">
                <br/><hr/><br/>
                <a href="#">View More</a> | <a href="#">Add New</a>
            </div>
        </div>
        <div class="overview">
            <h1>Jackets</h1>
            <img th:src="@{/templates/wardrobe/style/jackets.png}" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:170px;">
            <div class="popup">
                <br/><hr/><br/>
                <a href="#">View More</a> | <a href="#">Add New</a>
            </div>
        </div>
        <div class="overview">
            <h1>T-shirts</h1>
            <img th:src="@{/templates/wardrobe/style/tshirts.jpg}" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:170px;">
            <div class="popup">
                <br/><hr/><br/>
                <a href="#">View More</a> | <a href="#">Add New</a>
            </div>
        </div>
        <div class="overview">
            <h1>Socks</h1>
            <img th:src="@{/templates/wardrobe/style/socks.png}" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:170px;">
            <div class="popup">
                <br/><hr/><br/>
                <a href="#">View More</a> | <a href="#">Add New</a>
            </div>
        </div>
        <div class="overview">
            <h1>Jeans</h1>
            <img th:src="@{/templates/wardrobe/style/jeans.png}" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:170px;">
            <div class="popup">
                <br/><hr/><br/>
                <a href="#">View More</a> | <a href="#">Add New</a>
            </div>
        </div>
        <div class="overview">
            <h1>Hats</h1>
            <img th:src="@{/templates/wardrobe/style/hats.jpg}" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:170px;">
            <div class="popup">
                <br/><hr/><br/>
                <a href="#">View More</a> | <a href="#">Add New</a>
            </div>
        </div>
        <div class="overview">
            <h1>Jerseys</h1>
            <img th:src="@{/templates/wardrobe/style/jersey.png}" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:170px;">
            <div class="popup">
                <br/><hr/><br/>
                <a href="#">View More</a> | <a href="#">Add New</a>
            </div>
        </div>
        <div class="overview">
            <h1>Suits</h1>
            <img th:src="@{/templates/wardrobe/style/suit.png}" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:170px;">
            <div class="popup">
                <br/><hr/><br/>
                <a href="#">View More</a> | <a href="#">Add New</a>
            </div>
        </div>
        <div class="overview">
            <h1>Nightwear</h1>
            <img th:src="@{/templates/wardrobe/style/nightt.jpg}" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:170px;">
            <div class="popup">
                <br/><hr/><br/>
                <a href="#">View More</a> | <a href="#">Add New</a>
            </div>
        </div>
        <div class="overview">
            <h1>Underwear</h1>
            <img th:src="@{/templates/wardrobe/style/underwear.jpg}" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:170px;">
            <div class="popup">
                <br/><hr/><br/>
                <a href="#">View More</a> | <a href="#">Add New</a>
            </div>
        </div>
        <div class="overview">
            <h1>Utilities</h1>
            <img th:src="@{/templates/wardrobe/style/shavers.jpg}" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:170px;">
            <div class="popup">
                <br/><hr/><br/>
                <a href="#">View More</a> | <a href="#">Add New</a>
            </div>
        </div>

    </div>
    <div id="footer">
        Copyright &copy; Scaa | <a href="#">SCAVIA</a> | <a
            href="#">CHARLES</a> | <a
            href="#">MHLANGA</a>
    </div>
</div>

</body>
</html>
