<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Scavia's Wardrobe</title>
    <meta name="description" content="website description"/>
    <meta name="keywords" content="website keywords, website keywords"/>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252"/>
    <link th:href="@{/templates/wardrobe/style/style.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<div id="main">

    <div id="site_content">
        <h1>Clothes Report.</h1>
        <hr/>


    </div>

</div>

</div>
</body>
</html>
