<!DOCTYPE HTML>
<html>

<head>
    <title>Scavia's Wardrobe</title>
    <meta name="description" content="website description"/>
    <meta name="keywords" content="website keywords, website keywords"/>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252"/>
    <link rel="stylesheet" type="text/css" href="style/style.css" title="style"/>
</head>

<body>
<div id="main">
    <div id="header">
        <div id="logo">
            <div id="search">
                <form method="post" action="#" id="search_form">
                    <p>
                        <input class="search" type="text"
                               style="border-radius: 10px; border: 5px solid white;width: 250px; height:30px; "
                               name="search_field" placeholder="Enter keywords"/>
                        <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;border-bottom: 5;"
                               src="style/search.png" alt="Search" title="Search"/>
                    </p>
                </form>
            </div>
            <div id="logo_text">
                <!-- class="logo_colour", allows you to change the colour of the text -->
                <h1><a href="index.html">Scavia's <span class="logo_colour">Wardrobe</span></a></h1>
                <h2>Simple. Scavia's. Wardrobe Manager.</h2>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                <li class="selected"><a href="index.html">Overview</a></li>
                <li><a href="examples.html">Clothes</a></li>
                <li><a href="page.html">Gadgets</a></li>
                <li><a href="another_page.html">Propeties</a></li>
                <li><a href="contact.html">Reports</a></li>
            </ul>
        </div>
    </div>
    <div id="site_content">

        <div class="overview">
            <h1>Shirts</h1>
            <img src="style/shirt.jpg" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:145px;">
            <p>tyrywyerye</p>
        </div>

        <div class="overview">
            <h2>Shoes</h2>
            <img src="style/shoe.jpeg" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%; height:145px;">
            <p>tyrywyerye</p>
        </div>
        <div class="overview">
            <h2>Jackets</h2>
            <img src="style/jackets.png" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:145px;">
            <p>tyrywyerye</p>
        </div>
        <div class="overview">
            <h2>T-shirts</h2>
            <img src="style/tshirts.jpg" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:145px;">
            <p>tyrywyerye</p>
        </div>
        <div class="overview">
            <h2>Socks</h2>
            <img src="style/socks.png" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:145px;">
            <p>tyrywyerye</p>
        </div>
        <div class="overview">
            <h2>Jeans</h2>
            <img src="style/jeans.png" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:145px;">
            <p>tyrywyerye</p>
        </div>
        <div class="overview">
            <h2>Hats</h2>
            <img src="style/hats.jpg" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:145px;">
            <p>tyrywyerye</p>
        </div>
        <div class="overview">
            <h2>Jerseys</h2>
            <img src="style/jersey.png" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:145px;">
            <p>tyrywyerye</p>
        </div>
        <div class="overview">
            <h2>Shoes</h2>
            <img src="style/shirt.jpg" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:145px;">
            <p>tyrywyerye</p>
        </div>
        <div class="overview">
            <h2>Shoes</h2>
            <img src="style/shirt.jpg" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:145px;">
            <p>tyrywyerye</p>
        </div>
        <div class="overview">
            <h2>Shoes</h2>
            <img src="style/shirt.jpg" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:145px;">
            <p>tyrywyerye</p>
        </div>
        <div class="overview">
            <h2>Shoes</h2>
            <img src="style/shirt.jpg" alt="Clothes"
                 style="border-radius: 50%;border: 5px solid #1293EE; width:95%;height:145px;">
            <p>tyrywyerye</p>
        </div>

    </div>
    <div id="footer">
        Copyright &copy; Scaa | <a href="#">SCAVIA</a> | <a
            href="#">CHARLES</a> | <a
            href="#">MHLANGA</a>
    </div>
</div>
</body>
</html>
